.first{
  
    background-color: orange;
    height: 200px;
    width: 150px;
    margin: 40px;
}
.second{
   
    background-color: aqua;
    height: 200px;
    width: 250px;
    margin: 40px;
}
span{
 display:inline-block;
    background-color: green;
    height: 100px;
    width: 100px;
    margin: 10px;
   
}